section#main {
  overflow: hidden;
  padding-bottom: 5em;
}

div.hero {
  padding: calc(2rem + 60px) 0 10px 0;
  margin-bottom: -3rem;
  width: 100%;
  position: relative;
  z-index: 0;
  margin-bottom: 2em;
  h1 {
    margin: 0 0 4px 0;
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 400;
    overflow: hidden;
  }

  .post-title-description {
    position: relative;
    z-index: 10;
    margin: 1em 0 0;
    font-size: 18px;
    max-width: 50%;

    > div {
      font-weight: 300;
    }
  }
}

.hero {
  #main-outlet {
    padding-top: 20px;
  }
}

.category-banner-image-wrapper {
  position: absolute;
  top: 0;
  left: 60%;
  height: 0;
  z-index: -1;

  .category-banner-image {
    position: absolute;
    z-index: -1;
    width: 400px;
    top: -43px;
    left: 60%;
    filter: grayscale(1);
    opacity: 0.8;
  }
}

@media screen and (max-width: 600px) {
  div.hero {
    .post-title-description {
      max-width: none;
    }
  }
}

#main-outlet {
  position: relative;
  z-index: 0;
}
