div[class^="hero"] {
  padding: calc(4rem + 80px) 0 10px 0;
  width: 100%;
  position: relative;

  h1 {
    margin: 0 0 4px 0;
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 400;
    overflow: hidden;
  }

  .post-title-description {
    margin: 1em 0 0;
    font-size: 18px;
    max-width: 50%;
    
    > div {
        font-weight: 300;
    }
  }
}

.hero {
  #main-outlet {
    padding-top: 20px;
  }
}

.category-banner-image-wrapper {
  position: absolute;
  top: 0;
  left: 60%;
  height: 0;

  .category-banner-image {
    position: absolute;
    // z-index: -1;
    width: 400px;
    top: 0;
    left: 60%;
  }
}

@media screen and (max-width: 600px) {
    div[class^="hero"] {
        .post-title-description {
            max-width: none;   
        }
    }
}
